</main>

<footer>
    <p class="footer-2025">© 2025 - Oncollaboration</p>

    <ul class="footer-list">
        <li>Disclaimer</li>
        <li>Privacystatement</li>
        <li>Cookiesstatement</li>
    </ul>

    <img class="logoAvlF" src="/assets/AVL-Logo-white.svg"   alt="Antoni van Leeuwenhoek" height="40px" width="125px">
    <img class="logoSarH" src="/assets/kemenkessardjito.png"  alt="Sardjito" height="50px" height="50px"  width="130px">

</footer>
</body>
</html>