</main>

<footer>
    <p class="footer-2025">© 2025 - Oncollaboration</p>

    <ul class="footer-list">
        <li>Disclaimer</li>
        <li>Privacystatement</li>
        <li>Cookiesstatement</li>
    </ul>

    <img class="logoAvlF" src="/assets/AVL-Logo-white.svg"   alt="Antoni van Leeuwenhoek">
    <img class="logoSarH" src="/assets/kemenkessardjito.png" alt="Sardjito" height="50px"> </a>


</footer>
</body>