<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oncollaboration</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  

<body>  
    <header>
      <a href="#"> <img class="logoAvlH" src="/assets/AVL-Logo-white.svg" alt="Antoni van Leeuwenhoek"> </a>
      <a href="#"> <img class="logoSarH" src="/assets/kemenkessardjito.png" alt="Sardjito" height="50px"> </a>


      <nav>
        <a href="/">Home</a>
        <a href="/webinars">Webinars</a>
        <a href="404">Contouring</a>
        <a href="404">Profile</a>
      </nav>

    </header>

  <main>