<!-- comment -->

{% render 'partials/head.liquid' %}

<h1>Oncollaboration</h1>

<section class="search-bar-section">
    <div class="search-bar">
      <input type="text" placeholder="Search here..." />
      <button class="button">Search</button>
    </div>
</section>

<section class="home">
    <section class="about-us">
        <h2>About us</h2>
        <section class="about-us-indeling">
            <div class="about-us-logos">
                <img loading="lazy" class="home-logo-avl" src="/assets/AVL-Logo-white.svg" alt="Antoni van Leeuwenhoek"  >

                <picture class="home-logo-sar">
                    <source type="image/avif" srcset="/assets/kemenkessardjito.avif">
                    <source type="image/webp" srcset="/assets/kemenkessardjito.webp">
                    <img loading="lazy" class="home-logo-sar" src="/assets/kemenkessardjito.png" alt="Sardjito" >
                </picture> 
            </div>
            <p class="about-us-tekst">
                Oncollaboration is a digital platform dedicated to fostering international collaboration and knowledge exchange between radiation oncology professionals in the Netherlands and Indonesia. The platform was established with the aim of building bridges between medical experts, researchers, and healthcare professionals in both countries, working together to improve the quality of cancer care. <br> <br>
                Through a wide range of initiatives — including interactive, expert-led webinars, the dissemination of educational resources, and the promotion of professional engagement — Oncollaboration provides a dynamic and accessible network for those involved in radiotherapy. These activities enable the cross-border sharing of up-to-date knowledge, innovative treatment approaches, and best practices. <br> <br>
                By strengthening international dialogue and cooperation, Oncollaboration contributes to the professional development of the field, helps reduce global disparities in healthcare quality, and supports the creation of sustainable partnerships between Dutch and Indonesian healthcare institutions. In doing so, the platform plays a meaningful role in advancing radiation oncology practices on a global scale.            </p>
        </section>
    </section>

    <section class="partners">
        <h2>Partners</h2>
        <section class="partners-indeling">
            <p>Partnership is essential for sharing information about different types of cancer because it promotes collaboration among researchers, healthcare professionals, and institutions worldwide. By working together, they can pool knowledge, compare findings, and develop a more comprehensive understanding of cancer. <br> <br>This collaboration leads to faster breakthroughs in treatment, earlier diagnosis, and more effective prevention strategies. Furthermore, partnerships help reduce duplication of effort and ensure that valuable data and insights are accessible to everyone involved in cancer care and research, ultimately improving outcomes for patients globally.</p>
            <div class="partner-picture">
                <img loading="lazy" class="partner-logos" src="assets/logo1.png" alt="partner 1">
                <img loading="lazy" class="partner-logos" src="assets/logo2.png" alt="partner 2">
                <img loading="lazy" class="partner-logos" src="assets/logo3.png" alt="partner 5">
                <img loading="lazy" class="partner-logos" src="assets/logo6.svg" alt="Antoni van Leeuwenhoek">
                <img loading="lazy" class="partner-logos" src="assets/logo4.png" alt="partner 3">
                <img loading="lazy" class="partner-logos" src="assets/logo5.png" alt="partner 4">
                <img loading="lazy" class="partner-logos" src="assets/kemenkessardjito.png" alt="sardjito">
            </div>
        </section>
    </section>

    <section class="webinars-index">
        <h2>Webinars</h2>
        <p>
            Take a look at one of the many <a href="/webinars"> Webinars!</a>
        </p>
        <!--  LAATSTE WEBINAR TONEN  -->
        <div class="laatste-webinar"></div>

    </section>

    <section class="contourings-index">
        <h2>Contourings</h2>
        <p>
            Take a look at one of the many Contourings!
        </p>
        <!--  LAATSTE CONTOURING TONEN  -->
        <div class="laatste-contouring"></div>

    </section>

    <section class="articles-index">
        <h2>Articles</h2>
        <p>
            Take a look at one of the many Articles!
        </p>
         <!-- LAATSTE ARTICLE TONEN -->
         <div class="laatste-article"></div>

    </section>
</section>


{% render 'partials/foot.liquid' %}