/*      MARK: HEADER     */
header {
    height: 10em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    position: relative;

    .logoAvlH {
        margin-top: 2%;
        left: 1em;
        margin-left: 2%;

        @media (width > 40em) {
            transform: translateY(75%);
            padding-left: 2em;
        }
    }

    .logoSarH {
        margin-top: 2%;
        left: 1.5em;
        margin-left: 2%;

        @media (width > 40em) {
            transform: translateY(75%);
            padding-left: 1em;
        }
    }

    @media (width > 40em) {
        flex-direction: row;
        height: 8em;
    }
}

nav {
    position: absolute;
    top: 75%;
    right: 5%;

    a {
        text-decoration: none;
        margin: .7em;
    }

    :hover {
        font-weight: 600;
        transition-duration: .3s;
    }

    @media (width > 40em) {
        top: 45%;
    }
}





/*      MARK: SEARCH BAR     */
.search-bar-section {
    padding-top: .5em;
    padding-bottom: 1em;

    @media (width > 36em) {
        padding-top: 1em;
        padding-bottom: 2em;
    }
}

.search-bar {
    position: relative;
    justify-self: center;
    border-color: var(--dark-green);
    height: 40px;
    max-width: fit-content;
    width: 800%;
    margin: 0 20px;
    margin-bottom: 20px;
    border-radius: var(--border-radius-sm);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    .button {
        right: 20px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        border: none;
        padding: var(--padding-button);
        border-radius: 6px;
        background-color: var(--dark-green);
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 1%;
        transform: translateY(-50%);
    }
}

.search-bar input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: var(--font-size-lg);
    font-weight: 400;
    border: none;
    border-radius: var(--border-radius-sm);
    padding: 0 100px 0 10px;
    background-color: #fff;
}

@media (width > 36em) {
    .search-bar {
        max-width: 500px;
        justify-self: center;
        height: 50px;
    }

    .category-list {
        justify-content: center;
    }
}

@media (width > 50em) {
    .search-bar {
        max-width: 700px;
        width: 1000%;
    }
}






/*      MARK: CATEGORY FILTER        */

.category-select-label {
    font-family: "Lato", 'Courier New', Courier, monospace;
    font-size: var(--font-size-md);
    font-weight: 400;
    margin: .7em;
}

.category-filter {
    font-family: "Lato", 'Courier New', Courier, monospace;
    font-size: 0.87rem;
	border: solid .1em currentcolor;
	align-items: center;
    padding: .5em;
    background-color: white;
    width: 10em;
    text-transform: capitalize ;

}

/* algemene styling eraf halen */
select,
::picker(select){
	appearance: base-select;
}

/* pijltje */
::picker-icon {
	content:"";
	height: .5em;
	width: .5em;
	background-color: var(--dark-green);
	clip-path: polygon( 0 0, 100% 0, 50% 100% );
	transition: .3s;
}

/* pijltje als hij opengeklapt is */
select:open::picker-icon {
	rotate:x 180deg;
}

/* de border kleuren */
::picker(select) {
	border:solid .15em var(--dark-green);
	border-radius:.5em;
	background-color: var(--dark-green);
	margin-block-start:.5em;
}

/* om de lijntjes ertussen te doen */
select:open::picker(select) {
	display:grid;
	gap:.1em
}

/* de opties */
option {
	color: var(--dark-green);
	background-color:white;
	padding: .6em;
}

/* hover en focus */
option:hover,
option:focus-visible {
	color:white;
	background-color: var(--dark-green);
}

/* button om te filteren */
.filter-enter {
    font-family: "Lato", 'Courier New', Courier, monospace;
    font-size: var(--font-size-md);
    color: #fff;
    border: none;
    padding: .4em .7em;
    border-radius: var(--border-radius-sm);
    background-color: var(--dark-green);
    cursor: pointer;
}






/*      MARK: INDEX      */
.home {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
}

.about-us {
    padding: 1em .5em;
    background-color: var(--light-green);

    @media (width > 36em) {
        padding: 3.5em 6em;
    }

    .about-us-indeling{
        display: flex;
        flex-direction: column;    

        .home-logo-avl {
            height: 3em;
            width: 150px;
            margin: .3em;
    
            @media (width > 36em) {
                height: 9em;
                width: 448px;
            }
        }
        
        .home-logo-sar {
            height: 4em;
            width:170px;
            margin: .3em;
    
            @media (width > 36em) {
                height: 10em;
                width:448px;
            }
        }
    
        p {
            max-width: 60em;
            line-height: 1.4em;
            padding-right: .5em;
        }
    
        @media (width > 55em) {
            flex-direction: row;
        }
    }    
}

.partners {
    padding: 1em .5em;

    @media (width > 36em) {
        padding: 3.5em 6em;
    }

    .partners-indeling {
        display: flex;
        flex-direction: column;
    
        @media (width > 55em) {
            flex-direction: row;
        }
    
        .partner-picture {
            max-width: 40em;
            max-height: 26em;
            overflow: scroll;
            justify-items: right;
        }
    
        .partner-logos {
            max-height: 5em;
        }
    
        p {
            justify-self: right;
            max-width: 40em;
            line-height: 1.4em;
            padding-right: .5em;
        }
    }
}

.webinars-index {
    background-color: var(--light-green);
    padding: 1em .5em;
    
    @media (width > 36em) {
        padding: 3.5em 6em;
    }

    .laatste-webinar {
        background-color: lightgrey;
        max-width: 25em;
        height: 25em;
        border-radius: var(--border-radius-sm);
    }

    p {
        justify-self: left;
        max-width: 50em;
    }
}

.contourings-index {
    padding: 1em .5em;
    
    @media (width > 36em) {
        padding: 3.5em 6em;
    }

    .laatste-contouring {
        background-color: lightgrey;
        max-width: 25em;
        height: 25em;
        border-radius: var(--border-radius-sm);
    }
}

.articles-index{
    background-color: var(--light-green);
    padding: 1em .5em;
    
    @media (width > 36em) {
        padding: 3.5em 6em;
    }

    .laatste-article {
        background-color: lightgrey;
        max-width: 25em;
        height: 25em;
        border-radius: var(--border-radius-sm);
    }
}





/*      MARK: WEBINARS     */
.webinar-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(17em, 100%), 1fr));
    gap: 1.5rem;
    padding: clamp(1rem, 5vw, 2rem);
    gap:clamp(1rem, 5vw, 2rem);
}

.webinar-detail-link {
    text-decoration: none;
}

.webinar-item {
    border-radius: var(--border-radius-md);
    max-width: 20em ;

    .tumbnail-webinar {
        width: 100%;
        border-radius: var(--border-radius-md);
    }

    .title-webinar {
        font-size: var(--font-size-lg);
        margin: .4em;
    }

    .speaker-webinar {
        font-size: var(--font-size-md);
        color: var(--dark-green);
        text-transform: uppercase;
        margin: .4em;
    }

    .date-webinar {
        color: var(--dark-green);
        margin: .4em;
    }

    .category-label {
        background-color: var(--dark-green);
        padding: var(--padding-label);
        border: none;
        border-radius: var(--border-radius-sm);
        color: var(--light-text);
        max-width: fit-content;
        text-transform: capitalize;
        margin: .4em;
    }
}






/*      MARK: DETAIL WEBINAR     */

.back {
    background-color: var(--light-green);
    padding: var(--padding-button);
    max-width: fit-content;
    border-radius: var(--border-radius-md);
}

video {
    width: 90%;
    margin: 1em;
    padding: .5em 1em;

    @media (width > 36em) {
        width: 60%;
        padding: 1em 2em 0em 2em;
    }   
}

.detail-watch-info {
    display: flex;
    flex-direction: column;
    padding: 0em .5em 1em .5em;


    @media (width > 36em) {
        flex-direction: row;
        padding: 0em 2em 1em 2em;
    }
}

.category-detail {
    background-color: var(--dark-green);
    margin: .5em;
    padding: var(--padding-label);
    border-radius: var(--border-radius-sm);
    text-transform: capitalize;
    color: var(--light-text);
    max-width: fit-content;
}

/*      DESCRIPTION         */

.algemeen-description {
    background-color: var(--light-green);
    padding: .5em 1em;

    @media (width > 36em) {
        padding: 1em 2em;
    }
}

.description-detail {
    font-family: "Lato", 'Courier New', Courier, monospace;
    font-size: var(--font-size-md);
    font-weight: 400;
    padding: .5%;

    summary{
        font-family: "Lato", 'Courier New', Courier, monospace;
        font-size: var(--font-size-md);
    
    }
}

::-webkit-scrollbar {
    display: none;
}

/*      Q & A         */

.geheel-q-en-a {
    background-color: var(--beige-darker);
    padding: .5em 1em;

    @media (width > 36em) {
        padding: 1em 2em;

    }
}

.comments-detail {
    max-height: 20em;
    overflow: scroll;
    scrollbar-color: hidden;
    max-width: 20em;

    .comment {
        background-color: #fff;
        border-radius: var(--border-radius-sm);
        padding: var(--padding-button);
        max-width: 90%;

        @media (width > 36em) {
            max-width: 60%;
        }
    }
}

.q-en-a {
    position: relative;
    height: 40px;
    max-width: fit-content;
    width: 800%;
    margin: 0 20px;
    margin-bottom: 20px;
    border-radius: var(--border-radius-sm);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.submit-button {
    right: 20px;
    font-size: var(--font-size-md);
    font-weight: 400;
    color: #fff;
    border: none;
    padding: var(--padding-button);
    border-radius: 6px;
    background-color: var(--dark-green);
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
}

.q-en-a input {
    height: 40px;
    width: 100%;
    outline: none;
    font-size: var(--font-size-lg);
    font-weight: 400;
    border: none;
    border-radius: var(--border-radius-sm);
    padding: 0 100px 0 10px;
    background-color: #fff;
}

/*      SPEAKERS         */

.geheel-speaker {
    background-color: var(--light-green);
    padding: .5em 1em;

    @media (width > 36em) {
        padding: 1em 2em;

    }
}

.speaker-detail {
    display: grid;
    grid-template-columns: 6em 1fr;
    grid-template-rows: 1em 1em 1em 1em;
    grid-row-gap: .5em;
    margin-bottom: 2em;

    .speaker-name {
        grid-column: 2;
        grid-row: 2;
    }

    .speaker-job {
        grid-column: 2;
        grid-row: 3;
    }

    .speaker-picture{
        /* DEZE AFMETINGEN VERVORMEN DE NIET VIERKANTE FOTOS */
        /* aspect-ratio: 1em; */
        border-radius: 100%;
        margin: 1em;
        grid-column: 1;
        grid-row: 1, 4;
    }
}

/*      TRANSCRIPT         */

.geheel-transcript {
    padding: .5em 1em;

    @media (width > 36em) {
        padding: 1em 2em;

    }
}

.transcript-detail {
    font-family: "Lato", 'Courier New', Courier, monospace;
    font-size: var(--font-size-md);
    font-weight: 400;
    max-height: 15em;
    overflow: scroll;
    scrollbar-color: hidden;

    summary{
        font-family: "Lato", 'Courier New', Courier, monospace;
        font-size: var(--font-size-md);
    
    }
}





/*      MARK: STATES    */

.load-state {
    background-color: var(--light-green);
    background-image:url(assets/loading-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
}

/* .succes-state {
    background-image: url(assets/succes-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
} */




/*      MARK: FOOTER     */
footer {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    width: 100%;
    bottom: 0em;
    margin-top: 1em;

    .footer-AVL {
        margin: .8em;
    }

    .footer-list {
        margin: .8em;
    }

    .logoAvlF {
        bottom: 10%;
        right: 1.5em;
        margin-right: 2%;
    }

    .logoSarF {
        bottom: 10%;
        right: 1em;
        margin-right: 2%;
    }

    @media (width > 36em) {
        flex-direction: row;
    }
} 





/*      MARK: 404     */
.h1404 {
    font-size: var(--font-size-6xl);
    justify-self: center;
    padding-left: 5%;
}

.h2404 {
    font-size: var(--font-size-6xl);
    justify-self: center;
    padding-left: 5%;
}

.p404 {
    font-size: var(--font-size-lg);
    justify-self: center;
    padding-left: 5%;
}